<ion-header translucent>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: white;">
        Comandas
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


    <ion-col *ngIf="nothing"> 
        <div class="ion-text-center">
          <h3>No hay comandas generadas</h3>
          
        </div>
      </ion-col>

  <ion-list *ngIf="pedidos  && !updating">

      <ion-item-sliding *ngFor="let pedido of pedidos">
      <ion-card *ngIf="pedido.estado == 'I' ||  pedido.estado == 'A'  || pedido.estado == 'R'  || pedido.estado == 'M'"  lines="none" >
          <ion-card-content>
            
              <ion-item-options  *ngIf="pedido.estado == 'R'" side="start">
                  <ion-item-option (click)="setPedido(pedido)" color="success" [routerLink]="['edit/', pedido.id]">
                      <ion-icon style="color: white;" slot="start" align-self-center icon="create"></ion-icon> 
                  </ion-item-option>
              </ion-item-options>
  
                <ion-item-options *ngIf="pedido.estado == 'R'"  side="end">
                  <ion-item-option (click)="remove(pedido.id)">
                      <ion-icon  style="color: white;" slot="start" align-self-center icon="trash"></ion-icon> 
                  </ion-item-option>
                </ion-item-options>

              <ion-item lines="none">
                  <ion-avatar slot="start">
                      <img src="../../../assets/comanda.png">
                  </ion-avatar>
                  <ion-label>
                    <ion-chip color="secundary">Mesa  # {{pedido.mesa}} </ion-chip>
                       <h3>Orden # {{pedido.id}}</h3>
                       <h3>total:{{ pedido.total | currency :'USD':'symbol':'1.2-2'  }}</h3>
                       <p>{{pedido.fecha | date: 'dd-MM-yyyy' }} </p>
                       <ion-chip color="success">items : {{pedido.items }} </ion-chip>
                  </ion-label>

                  <ion-chip *ngIf="pedido.estado == 'A'" slot="end" color="primary">
                      <ion-label color="primary">PROCESANDO</ion-label>
                  </ion-chip>

                  <ion-chip *ngIf="pedido.estado == 'I'" slot="end" color="primary">
                    <ion-label color="primary">PREPARANDO..</ion-label>
                </ion-chip>

                <ion-chip *ngIf="pedido.estado == 'R'" slot="end" color="primary">
                  <ion-label color="primary">REVERSADO</ion-label>
                </ion-chip>

                <ion-chip *ngIf="pedido.estado == 'M'" slot="end" color="primary">
                  <ion-label color="primary">MODIFICADO </ion-label>
              </ion-chip>
      
                  <ion-chip *ngIf="pedido.estado == 'E'" slot="end" color="warning">
                      <ion-label color="warning">ELIMINADO </ion-label>
                  </ion-chip>
      
                  <ion-chip *ngIf="pedido.estado == 'C'" slot="end" color="success">
                      <ion-label color="success">CERRADO </ion-label>
                  </ion-chip>
              </ion-item>
          </ion-card-content>
      </ion-card>
      
      </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="!pedidos && updating">
      

    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width:50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>

    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>
    <ion-card >
        <ion-card-content>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-label>

                <ion-label slot="end">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    
                </ion-label>
               
            </ion-item>
        </ion-card-content>
     
    </ion-card>


  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="actualizar(cajero)" >
        <ion-icon style="color: white;" name="refresh-circle"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>