<ion-header  translucent>
  <ion-toolbar  color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"> <ion-icon style="color:white"  name="close-circle" slot="icon-only" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
 
<ion-list *ngIf="tipo=='cliente'" >
  <ion-item    *ngFor="let item of data"   (click)="select(item)" >
      <ion-avatar slot="start">
          <img src="./assets/cliente.png">
      </ion-avatar>
      <ion-label >
        <h2 class="text-small">{{item.numidentificacion}}</h2>
        <p class="text-small">{{item.nombre}}</p>
      </ion-label>
    </ion-item>
</ion-list>

<ion-list *ngIf="tipo=='producto'" >
<ion-item  *ngFor="let item of data"   (click)="select(item)" >
  <item-producto  (updateItem)="updateItem($event,item)"    [data]="item"> </item-producto>
    
     
</ion-item>
</ion-list>

<ion-list *ngIf="tipo=='formapago'" >
  <ion-item  *ngFor="let item of data"   (click)="select(item)" >
        <ion-avatar slot="start">
            <img src="./assets/formapago.png">
        </ion-avatar>
        <ion-label>
          <h2 class="text-small">{{item.id}}</h2>
           <p class="text-small">{{item.descripcion }}</p>
        </ion-label>
  </ion-item>
</ion-list>



<ion-list *ngIf="tipo=='grupo'" >
  <ion-item  *ngFor="let item of data"   (click)="select(item)" >
        <ion-avatar slot="start">
            <img src="./assets/grupo.png">
        </ion-avatar>
        <ion-label>
           <p class="text-large" style=" font-weight: bold;" >{{item.descripcion }}</p>
        </ion-label>
  </ion-item>
</ion-list>

</ion-content>