$text-input-placeholder-color : #5ddef4;
$text-input-highlight-color-valid :	#5ddef4 !important;
$text-input-md-highlight-color-val: #5ddef4 !important;
$text-input-wp-highlight-color-valid : #5ddef4 !important;


ion-input{
    --placeholder-color: #f0f0f0!important;
    --placeholder-opacity: 1 !important;
    
}




ion-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  ion-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ion-item.item {
    background-color: rgb(255, 255, 255);
    margin-bottom: 1px;
    .label {
      width: 10%;
      color: rgb(255, 255, 255);
      font-size: 1.2em;
    }
  }

  ion-card{
    display: flex;
    flex-direction: column;
    width: 98% !important;
    margin: 5px !important;
    background: white;
  }

  .header-md::after {
    background-image: none;
}



.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 0.8;
  background: #5ddef4;
  color: #fff;

}


.divider {
  border-left: 6px solid white;
  border-right: 6px solid white;
  border-block-end: 6px solid white;
  height: 500px;
  position: absolute;
  left: 100%;
  margin-left: -5px;
  top: 0;
  border-radius: 10px; 
}