<ion-header style="height: 180px;"> 
    <ion-toolbar color="primary">
        <ion-title  style="color: white;" > Login</ion-title>
      </ion-toolbar>
   
</ion-header>
<ion-content fullscreen="true" scroll-y="false">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
                <div class="outer" style="margin-top:50px;">
                    <ion-avatar>
                        <img src="../../../assets/login.png">
                      </ion-avatar>
                </div>
        </ion-row>
    </ion-grid>
  
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
  
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <h1 style="color:#0288d1">Comandas D' Leito</h1>
            </ion-row>
        </ion-grid>

        <ion-item color='primary' style="margin-left:0px; margin-top: 20px;">
            <ion-input class="rounded" ngModel name="usuario" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="light" inputmode="text" placeholder="Ingrese Usuario" required="true"></ion-input>
            <ion-icon name="person-outline" color="light" slot="start" align-self-center></ion-icon>
        </ion-item>
  
  
        <ion-item color='primary' style="margin-left:0px; margin-top: 50px;">
            <ion-input class="rounded" ngModel name="password" type="password" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="light" placeholder="Ingrese Password" required="true"></ion-input>
            <ion-icon name="key-outline" color="light" slot="start" align-self-center></ion-icon>
        </ion-item>
  
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                    <div class="outer" style="margin-top:50px;">
                        <ion-button type="submit" size="medium" shape="block" fill="outline" >
                            Iniciar
                        </ion-button>
                    </div>
            </ion-row>
        </ion-grid>
    </form>
  </ion-content>

  <ion-footer no-border>
   
</ion-footer>