<ion-card>
  <ion-item style="width: 100%;">
    <ion-avatar slot="start">
      <img src="../../../assets/cangregal.jpg">
  </ion-avatar>

  <ion-label>
    <h2 class="text-small">{{data.codigo}}</h2>
     <p class="text-small" style="font-weight: bold;" >{{data.medida }}</p>
     <p class="text-small">{{data.precio | currency :'USD':'symbol':'1.2-2' }}</p>
  </ion-label>
  
    <ion-button (click)="add()" fill="outline" slot="end">agregar</ion-button>
    <ion-button (click)="verDetalle(data)" fill="outline" slot="end">Ver</ion-button>
  </ion-item>

  <ion-card-content>
    <ion-item>
      <ion-label><small class="ion-text-justify" style="font-weight: bold;">{{data.descripcion }}</small> </ion-label>  
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [(ngModel)]="cantidad"  value="1" type="number"></ion-input>
    </ion-item>
    <ion-item>
     
      <ion-label position="floating">Observacion</ion-label>
      <ion-input  [(ngModel)]="observacion" ></ion-input>
    </ion-item>
    
  </ion-card-content>
</ion-card>