<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title style="color:white">Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"> <ion-icon style="color:white" name="close-circle" slot="icon-only" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img [src]="image"   (ionError)="onError()" />
    <ion-card-header>
      <ion-card-subtitle>{{data.grupo}}</ion-card-subtitle>
      <ion-card-title>{{data.descripcion}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
   {{data.amplia}}
    </ion-card-content>
  </ion-card>
</ion-content>