<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color:white">Locales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of locales">
    <ion-item>
      <ion-label>{{item.descripcion}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="seleccionar(item)" >seleccionar</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Disponibles    <ion-icon name="albums" color="success"  slot="start" align-self-center></ion-icon> #{{item.mesas}} </ion-label>
      <ion-label>Ocupadas    <ion-icon name="albums" color="warning"  slot="start" align-self-center></ion-icon> # {{item.mesas -6}} </ion-label>

    </ion-item>

  </ion-card>
</ion-content>
