<ion-header>
  <ion-toolbar color="primary">
    <ion-title  style="color: white;" *ngIf="selocal" >{{selocal.descripcion}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="mesas" >

     <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col  size="12" *ngFor="let mesa of mesas"> 
                <ion-card>
                  
                  <ion-card-header  style="background: #0288d1;"> 
                      <ion-item>
                        <ion-button *ngIf="mesa.EstadoMesa=='Ocupado'  || mesa.EstadoMesa=='OcupadoP' ||  mesa.EstadoMesa=='OcupadoE'"  [color]="mesa.color"   fill="outline" slot="end" (click)="add(mesa)" >   <ion-icon name="add"></ion-icon> </ion-button>
                        <ion-button [color]="mesa.color"   fill="outline" slot="end" (click)="reservar(mesa)" >   <ion-icon name="{{mesa.icono}}"></ion-icon> </ion-button>
                        <ion-button *ngIf="mesa.total>0 && mesa.EstadoMesa=='OcupadoP'"  slot="end" [color]="mesa.color"   fill="outline"  (click)="enviar(mesa)" >   <ion-icon name="send"></ion-icon> enviar </ion-button>
                        <ion-card-title style='font-size: 12px;'> {{ mesa.id }} </ion-card-title>
                      </ion-item>
                  </ion-card-header>

                  <ion-card-content  style="background:#0288d1;"> 
                    <ion-item>

                      <ion-chip outline color="tertiary">
                        <ion-icon name="people"></ion-icon>
                        <ion-label>{{ mesa.ocupantes }}</ion-label>
                      </ion-chip>
                   
                      <ion-chip outline color="tertiary">
                        <ion-icon name="restaurant"></ion-icon>
                        <ion-label>{{ mesa.items }}</ion-label>
                      </ion-chip>

                      <ion-chip outline color="tertiary">
                        <ion-icon name="cash"></ion-icon>
                        <ion-label> {{ mesa.total | currency :'USD':'symbol':'1.2-2' }}</ion-label>
                      </ion-chip>
                   
                    </ion-item>
                  </ion-card-content>
                  
               </ion-card>
              </ion-col>
            </ion-row>
        </ion-grid>
  </ion-list>
</ion-content>