<ion-header  translucent>
  <ion-toolbar  color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null)"> <ion-icon style="color:white" name="close-circle" slot="icon-only" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <ion-item  lines="none">
    <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <h4> Detalle Comanda </h4>
                
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-list >

                <ion-item-sliding *ngFor="let detalle of detalles">

                    <ion-item-options side="end">
                        <ion-item-option color="warning" (click)="remove(detalle)">
                            <ion-icon  style="color: white;"  name="trash" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>

                    <ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item lines="none">
                                        <ion-avatar slot="start">
                                            <img src="../../../../assets/cangregal.jpg">
                                        </ion-avatar>
                                        <ion-label  style="font-size: x-small;" class="ion-text-wrap">
                                            {{ detalle.descripcion }}
                                        </ion-label>
                                        <ion-label  style="font-size: x-small;" slot="end" class=" ion-text-wrap">
                                            Precio: {{ detalle.precio | currency :'USD':'symbol':'1.2-2' }}
                                        </ion-label>
                                    </ion-item>
                                    
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="5">
                                    <ion-item class="ion-item-cant" lines="none">

                                        <ion-input min="1" type="number" [(ngModel)]="detalle.cantidad" (change)="calculate($event,detalle)"></ion-input>
                                        <ion-icon style="color:white" name="restaurant" item-right primary></ion-icon>

                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item lines="none">
                                        <ion-label slot="end" style="font-size: x-small;" class="ion-text-wrap"> Subtotal : {{ detalle.total | currency :'USD':'symbol':'1.2-2' }} </ion-label>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-item>
                                        <ion-label position="stacked">Observacion</ion-label>
                                        <ion-textarea  clearOnEdit="true" [(ngModel)]="detalle.observacion" ></ion-textarea>
                                      </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>


                </ion-item-sliding>

            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-item>

<div class="content-button">
  <ion-row>
      <ion-col>
          <ion-button color="primary" expand="block" fill="outline" (click)="confirmar()" style="color:white">confirmar</ion-button>
      </ion-col>
  </ion-row>
</div>
</ion-content>