ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 7px !important;
    background: white;
  }

 
  .ion-item-cant {
    border-radius: 15px !important;
    border: 1px solid #ccc !important;
/*other attributes*/
}  

.ion-input-cant {
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
/*other attributes*/
}  