
<ion-tabs>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mesas">
      <ion-icon name="copy"></ion-icon>
      <ion-label>Mesas</ion-label>
      <ion-badge *ngIf="local"  >{{local.mesas}}</ion-badge>
    </ion-tab-button>

   

    <ion-tab-button tab="pedidos">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Comandas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="locales">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Locales</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()"  tab="/login">
      <ion-icon name="exit"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

